{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">Chest X-Ray Computer-Aided Diagnosis</h1>
  <p class="lead">This project aims to help radiologists by pre-screening the patients. 
    This will help patients get their treatments when they need it and radiologists can 
    concentrate on patients with severe conditions first and be able to save more lives.</p>
  <hr>
  <h2>Caution</h2>
  <p>This software cannot replace radiologist's diagnosis. It can only give the second opinion
    and it is designed as a means to get a quick diagnosis.
  </p>
{% endblock %}